<% provide(:title, "Log in") %>

<div class="container">
    <h1 class="center">Sign In</h1>
    <div class="row">
        <%= form_for(:session, url: login_path, :html => {:class => 'col s12'}) do |f| %>
            <div class="row">
                <div class="input-field col s12">
                    <%= f.text_field :email, :class => 'validate' %>
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                  <%= f.password_field :password, :class => 'validate' %>
                  <label for="password">Password</label>
                </div>
                <a class="right blue-grey-text darken-2" href="/forgot_password">Forgot Password?</a>
            </div>
            <div class="row">
                <%= f.submit :submit, :class => 'waves-effect waves-light btn col s12 blue-grey lighten-1' %>
            </div>
        <% end %>
    </div>
    
</div>