
<div class="container">
    <h1 class="center">Forgot Password</h1>
    <div class="row">
     <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="Email" type="email" class="validate">
                    <label for="Email">Email</label>
                </div>
            </div>
             <div class="col s12">
                 <a class="waves-effect waves-light btn" href="/fp/forgot_password">Submit</a>
        
            </div>
        </form>
    </div>
</div>

