<div class="container">
    <h1 class="center">Forgot Password</h1>
    <div class="row">
        <%= form_for(:user, :url => {:controller => 'fp', :action => 'forgot_password'}) do |f| %>
            <p> Email:</br> <%= f.text_field :email%> </p>
                <%= f.submit :Submit %>
          <% end %>
    </div>
</div>